<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>indietro
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
           <button class="button button-icon button-clear ion-ios-location-outline" onclick='location.href="#/kauppa/deals_map"' >
          </button>
      </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person" menu-toggle="right">
        </button>
      </ion-nav-buttons>        
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" >  
      <ion-nav-view>
           <ion-content class="scroll-content ionic-scroll">
      <ion-list>

        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="https://scontent-mxp1-1.cdninstagram.com/hphotos-xfa1/t51.2885-19/11325867_1669661849912335_302420423_a.jpg" spinner-on-load>
          	</pre-img>
          </div>
          <h2 class="greeting">Hi {{ profile.name }}</h2>
          <p class="message">Sei a <br>{{ province.name }}</p>
        </ion-item>



        <ion-item class="item-icon-left" nav-clear menu-close href="#/kauppa/deals">
          <i class="icon ion-ios-calendar-outline"></i>
          <h2 class="menu-text">Offerte</h2>
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close href="#/kauppa/deals_tv"  ng-if="province.has_on_tv=='true'"}>
          <i class="icon ion-ios-monitor-outline"></i>
          <h2 class="menu-text">Kauppa in tv</h2>
        </ion-item>


        <ion-item class="item-icon-left"  ng-repeat="special_group in province.special_groups" nav-clear menu-close href="#/kauppa/deals_special/{{ special_group.pk }}">
          <i class="icon ion-ios-calendar-outline"></i>
          <h2 class="menu-text">{{ special_group.name }}</h2>
        </ion-item>

        <!--<ion-item class="item-icon-left"  nav-clear menu-close href="#/kauppa/deals_special/12">-->
          <!--<i class="icon ion-ios-calendar-outline"></i>-->
          <!--<h2 class="menu-text">SPECIALE</h2>-->
        <!--</ion-item>-->
      </ion-list>

<!--
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
-->

<!--
        <ion-item menu-close href="#/app/slideshow">
          Slideshow
        </ion-item>
-->


</ion-content>
      </ion-nav-view>
  </ion-side-menu> 
    
  <ion-side-menu side="right">
    <ion-nav-view>

<ion-header-bar class="bar-stable">
  <h1 class="title">Utility</h1>
</ion-header-bar>
<ion-content>
  <ion-list>

    <ion-item class="item-icon-right" nav-clear menu-close href="#/utils/provinces">
      <i class="icon ion-map"></i>
      <h2 class="menu-text">Territorio</h2>
    </ion-item>

    <ion-item class="item-icon-right" nav-clear menu-close href="#/utils/faq">
      <i class="icon ion-help"></i>
      <h2 class="menu-text">FAQ</h2>
    </ion-item>



    <ion-item class="item-icon-right" nav-clear menu-close href="#/profile/login" ng-if="!profile.pk">
      <i class="icon ion-map"></i>
      <h2 class="menu-text">Login</h2>
    </ion-item>


    <!--<ion-item class="item-icon-right" nav-clear menu-close href="#/profile/login" ng-if="profile.pk > 0">-->
      <!--<i class="icon ion-map"></i>-->
      <!--<h2 class="menu-text">Logout</h2>-->
    <!--</ion-item>-->


    <ion-item class="item-icon-left" nav-clear menu-close href="#/profile/coupon_to_use"  ng-if="profile.has_to_use_coupon">
      <i class="icon ion-pricetags"></i>
      <h2 class="menu-text">Miei coupon</h2>
    </ion-item>

    <ion-item class="item-icon-left" nav-clear menu-close href="#/profile/coupon_used"  ng-if="profile.has_used_coupon">
      <i class="icon ion-pricetags"></i>
      <h2 class="menu-text">Coupon usati</h2>
    </ion-item>

    <ion-item class="item-icon-left" nav-clear menu-close href="#/profile/bonus"  ng-if="profile.has_bonus">
      <i class="icon ion-card"></i>
      <h2 class="menu-text">Bonus</h2>
    </ion-item>

    <ion-item class="item-icon-left" nav-clear menu-close href="#/profile/wallet"  ng-if="profile.has_wallet">
      <i class="icon ion-card"></i>
      <h2 class="menu-text">Portafogli</h2>
    </ion-item>

    <ion-item class="item-icon-left" nav-clear menu-close href="#/profile/storage" >
      <i class="icon ion-card"></i>
      <h2 class="menu-text">Storage</h2>
    </ion-item>







    <!--<ion-item class="item-icon-right" nav-clear menu-close href="#/app/map">-->
      <!--<i class="icon ion-bookmark"></i>-->
      <!--<h2 class="menu-text">Saved for later</h2>-->
    <!--</ion-item>-->

    <!--<ion-item menu-close href="#/app/map">-->
      <!--Mappa-->
    <!--</ion-item>-->
    <!--<ion-item menu-close ng-click="login()">-->
      <!--Login-->
    <!--</ion-item>-->
<!--
    <ion-item menu-close href="#/app/search">
      Search
    </ion-item>
    <ion-item menu-close href="#/app/browse">
      Browse
    </ion-item>
    <ion-item menu-close href="#/app/playlists">
      Playlists
    </ion-item>
    <ion-item menu-close href="#/app/books">
      Books
    </ion-item>
-->



  </ion-list>
</ion-content>
    </ion-nav-view>
  </ion-side-menu>    
    
</ion-side-menus>
