<ion-view view-title="{{ deal.id }}">
  <ion-content>
      {{ deal.code }}
      {{ deal.language }}
      {{ deal.linenos }}
      {{ deal.style }}



<div class="list card">

  <div class="item item-body">
    <h2 class="post-title" >{{ deal.mobile_title }}</h2>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{ deal.image }}" width="200px">

    <div class="item tabs tabs-secondary tabs-icon-left">
        <div class="tab-item" >
            <b><strike class="post-text" dynamic-anchor-fix ng-bind-html="deal.initial_price + deal.label_money"></strike></b>
            <i class="post-text" dynamic-anchor-fix ng-bind-html="deal.discounted_price + deal.label_money"></i><br>
        </div>

        <a class="tab-item" href="#">
          <b>Sconto</b>
          {{ deal.discount_perc }}%

        </a>
        <a class="tab-item" href="#">
          <b>Coupon venduti</b> {{ deal.sold_qty }}<br>
        </a>
      </div>

   <h2>Sintesi</h2>
   <p class="post-text" dynamic-anchor-fix ng-bind-html="deal.evidence"></p>

   <h2>Condizioni</h2>
   <p class="post-text" dynamic-anchor-fix ng-bind-html="deal.terms"></p>

  </div>

  <div>
<map center="{{deal.latitude }},{{deal.longitude}}" zoom="15">
        <marker
            position="{{deal.latitude }},{{deal.longitude}}"
            title="{{ deal.mobile_title }}"
            visible="true"
            icon="https://maps.google.com/mapfiles/kml/shapes/schools_maps.png"
                >
        </marker>
        <info-window id="1" position="{{info_position.lat}},{{info_position.lng}}" visible="true">
          <div ng-non-bindable="">
            <a href="#" >
            <b>{{ deal.mobile_title }}</b>
            </a>
          </div>
        </info-window>
      </map>
  </div>


  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click="showConfirm(item)">
      <i class="icon ion-close-round"></i>
      Elimina
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>

    </ion-content>
</ion-view>

