<ion-view view-title="{{ province.name }} {{ province.id }}">
  <ion-content lazy-scroll>
    <div class="posts-list">
      <div ng-repeat="deal in deals" class="list card post-item" ng-click="href='#/kauppa/deal/{{deal.pk}}'">
        <div class="post-heading item item-text-wrap">
          <h2 class="post-title" ng-bind-html="deal.mobile_title">{{ deal.mobile_title }}</h2>

          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="category-image" src="{{ deal.image }}" spinner-on-load >
          </pre-img>
          <p class="post-author">
          </p>
        </div>
        <div class="post-content item item-text-wrap" post-content>
          <div class="post-actions row">
            <div class="actions col col-center col-66">
              <b>Coupon venduti</b> {{ deal.sold_qty }}<br>
              <b>Sconto</b> {{ deal.discount_perc }}%<br>
              <b>Prezzo iniziale</b> <i class="post-text" dynamic-anchor-fix ng-bind-html="deal.initial_price + deal.label_money"></i><br>
              <b>Prezzo scontato</b> <i class="post-text" dynamic-anchor-fix ng-bind-html="deal.discounted_price  + deal.label_money"></i>
            </div>
            <div class="read-more col col-center col-33">
              <a href="#/kauppa/deal/{{deal.pk}}" class="button button-small button-block button-assertive">
                Dettaglio
              </a>
            </div>
          </div>
        </div>
      </div>        
    </div>                
  </ion-content>
</ion-view>
