<ion-view class="maps-view">
  <ion-nav-title>
    <span>Maps</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="mapWrap"  data-tap-disabled="true">
      <map center="{{ latitude }},{{ longitude }}" zoom="10">
        <marker ng-repeat="map_deal in map_deals"
            icon="https://www.kauppa.it/static/kauppa/icon/map_icon.png"
            position="{{map_deal.latitude}},{{map_deal.longitude}}"
            title="{{ map_deal.title }}"
            visible="true">
        </marker>
        <info-window ng-repeat="map_deal in map_deals" id="{{ map_deal.pk }}" position="{{map_deal.latitude}},{{map_deal.longitude}}" visible="true">
          <div ng-non-bindable="">
            <b>{{ map_deal.title }}</b>
          </div>
        </info-window>
      </map>
    </div>
  </ion-content>
</ion-view>
