<ion-view view-title="FAQ">
    <ion-content lazy-scroll>
        <!--<div class="list card" ng-repeat="faq in faq_list">-->
          <!--<div>{{ faq.category_faq_text }} - {{ faq.title}} {{ faq.$$hashKey }}</div>-->
          <!--<div>-->
              <!--{{ faq.text }}-->
          <!--</div>-->
        <!--</div>-->

<div class="list card" ng-repeat="faq in faq_list">
<ion-item class="item-body" ng-click="toggleGroup(faq)" ng-class="{active: isGroupShown(faq)}">
<i class="icon" ng-class="isGroupShown(faq) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;{{ faq.category_faq_text }} - {{ faq.title}}
</ion-item>
    <ion-item class="item item-body" ng-show="isGroupShown(faq)">
        <div>{{ faq.text }}</div>

    </ion-item>
</div>
    </ion-content>
</ion-view>