<ion-view view-title="Seleziona il territorio">
    <ion-content lazy-scroll>
        <div class="list card" ng-repeat="nation in nation_list">
          <div class="item item-divider" >{{ nation.nation_name }}</div>
          <a href="#/kauppa/deals/{{ province.pk }}" class="item item-icon-left" ng-repeat="province in nation.province_list" >
              {{ province.name }}
          </a>
        </div>
    </ion-content>
</ion-view>