<ion-view class="profile-view">
  <ion-nav-title>
    <span>Bonus</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="https://scontent-mxp1-1.cdninstagram.com/hphotos-xtp1/t51.2885-15/e35/12224546_199142507086772_134509583_n.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">{{ profile.name }}</div>
        <div class="user-twitter">Scadenza {{ profile.bonus_expiry_date }}</div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['https://scontent-mxp1-1.cdninstagram.com/hphotos-xtp1/t51.2885-15/e35/12224546_199142507086772_134509583_n.jpg']"></div>
      </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>Il bonus è un premio che Kauppa vuole farti per premiare la tua fedeltà: se disponi di un bonus, puoi selezionare l'apposita
            voce nella pagina di pagamento per importi superiori a 25 {{ province.currency_code }}.
            La spesa sarà decurtata di 5 {{ province.currency_code }}. Ricorda: il bonus ha durata di un mese!"</p>
      </div>
    </div>
  </ion-content>
</ion-view>
