<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>{{ title }}</span>
  </ion-nav-title>
  <ion-content>
    <div class="row categories-list">
      <div ng-repeat="coupon in coupon_list" class="col col-50">
        <a class="feed-category" ui-sref="app.category-feeds({categoryId: (category.title | slugify)})">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="category-image" ng-src="{{coupon.image}}" spinner-on-load>
          </pre-img>
          <div class="category-bg"></div>
          <span class="category-title">{{coupon.cod_coupon}}<br>
              {{coupon.cod_coupon_supplier}}
          </span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
