<ion-view view-title="Accedi">
      <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <button class="button button-full button-balanced" ng-click="login()">
      Login
    </button>
    <button class="button button-positive button-clear button-full" ui-sref="outside.register">Register now!</button>
  </ion-content>
</ion-view>

