<ion-view class="profile-view">
  <ion-nav-title>
    <span>Portafogli</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="https://scontent-mxp1-1.cdninstagram.com/hphotos-xpa1/t51.2885-15/e35/12357611_154095281617629_1114459867_n.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">STORAGE</div>
        <div class="user-twitter">STORAGE</div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg']"></div>
      </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>
            <h4>tokenkauppa</h4>
            {{ tokenkauppa }}
            <h4>{{ var_1 }}</h4>
            {{ localStorageUser }}<br>
            <h4>{{ var_2 }}</h4>
            {{ localStorageProvince }}
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
