<ion-view class="profile-view">
  <ion-nav-title>
    <span>Portafogli</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="https://scontent-mxp1-1.cdninstagram.com/hphotos-xpa1/t51.2885-15/e35/12357611_154095281617629_1114459867_n.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">{{ profile.wallet_value }} {{ province.currency_code }}</div>
        <div class="user-twitter">Portafogli</div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg']"></div>
      </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>Il credito, maturato a seguito dell'annullamento di uno o più coupon, può essere utilizzato come pagamento parziale
            e integrale su qualunque acquisto selezionando l'apposita voce nella schermata di pagamento.
            Se il credito super l'importo totale dell'acquisto, la differenza rimarrà a disposizione del cliente.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
